h2 {
    text-align: left;
}

#content {
    overflow: visible;
    margin-right: 300px;
    position: relative;
}
.blog-index {
    float: left;
}
.blog-archives {
    float: left;
}
.blog-post {
    float: left;
}
.line-numbers {
    width: 20px;
}
.sidebar {
    width: 260px;
    padding: 1.2em 20px 20px;
    background: none;
    clear: none;
    float: left;
    margin: 0 -100% 0 0;
    display: block;
}
.sidebar .well {
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}
#blog-archives h1 {
    margin-top: 0px;
}
#blog-archives h2 {
    padding-top: 4px !important;
    font-size: 24px;
    color: #000;
}
#blog-archives time {
    margin-top: 4px;
}
#blog-archives footer {
    background: none;
}