{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <div class="main-content">
    {% include header.html %}

    {% comment %}
    <nav role="navigation">{% include navigation.html %}</nav>
    {% endcomment %}
    
    <div id="main-stage" class="container">
      <div id="content">
        {{ content | expand_urls: root_url }}
      </div>
    </div>
    
    <footer class="footer">
      <div class="container" style="text-align:center;">
        <div>
          <strong>Email:</strong> founders@ratchet.io
          &middot;
          <strong>Phone:</strong> 1.415.857.0548
        </div>
        <div>
          &copy; 2012 Ratchet, Inc.
          &nbsp;
          &nbsp;
          <a href="/about">About Us</a>
          &nbsp;
          &nbsp;
          <a href="/blog/">Blog</a>
          &nbsp;
          &nbsp;
          <a href="/docs/">Documentation</a>
          &nbsp;
          &nbsp;
          <a href="/tos">TOS</a>
          &nbsp;
          &nbsp;
          <a href="/privacy">Privacy</a>
        </div>
      </div>
    </footer>
    
    {% include after_footer.html %}
</body>
</html>
