<div class="container-fluid">
  <header class="row-fluid">
    <div class="container">
      <div class="span3">
        <h1><a href="/" class="logo"></a></h1>
      </div>
      <div class="span9">
        <ul class="nav nav-pills pull-right">
          <li><a href="/features/">Features</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/docs/">Docs</a></li>
          <li><span><a href="/login/" class="btn">Log In</a></span></li>
          <li><span><a href="/signup/" class="btn btn-primary">Free Trial</a></span></li>
        </ul>
      </div>
    </div>
  </header>
</div>